<a href="https://colab.research.google.com/github/minddong59/BigDataAnalysis2021/blob/main/201710770_wk5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar -xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

import findspark
findspark.init()

Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [ ]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [ ]:
marks=[
    "'김하나','English', 100",
    "'김하나','Math', 80",
    "'임하나','English', 70",
    "'임하나','Math', 100",
    "'김갑돌','English', 82.3",
    "'김갑돌','Math', 98.5"
]
_marksRdd=spark.sparkContext.parallelize(marks)

## **3-1**

In [ ]:
sum_Name=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[0],float(x[2])))\
        .reduceByKey(lambda x,y:x+y)\
        .collect()

for e in sum_Name:
    print (e[0], e[1])

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

## **3-2**

In [ ]:
sum_Subject=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[1],float(x[2])))\
        .reduceByKey(lambda x,y:x+y)\
        .collect()

for e in sum_Subject:
    print (e[0], e[1])

'English' 252.3
'Math' 278.5

## **3-3**

In [ ]:
sum_Subject2=_marksRdd\
        .map(lambda x: x.split(','))\
        .map(lambda x: (x[0],float(x[2])))

In [ ]:
sumNcount_Name=sum_Subject2.combineByKey(
        lambda value: (value,1),
        lambda x,value: (x[0]+value, x[1]+1),                      
        lambda x,y: (x[0]+y[0], x[1]+y[1]))

In [ ]:
for e in sumNcount_Name.collect(): #리스트 만들기
    print(e[0],e[1])

'김하나' (180.0, 2)
'임하나' (170.0, 2)
'김갑돌' (180.8, 2)

## **3-4**

In [ ]:
avg_Name = sumNcount_Name.map(lambda x: (x[0],x[1][0]/x[1][1]))

In [ ]:
for e in avg_Name.collect():
    print(e[0],e[1])

'김하나' 90.0
'임하나' 85.0
'김갑돌' 90.4